# .env.dist
# Copy this file to .env and update with your local configuration values
SECRET_KEY=your-secret-key-here
CHATGPTAPIKEY=your API key here
SQLALCHEMY_DATABASE_URI=sqlite:///aimultichat.db
# MySQL "mysql+pymysql://username:password@127.0.0.1:3306/aimultichat"
FLASK_ENV=development
